# LISTS
- List is a collection which is ordered and changeable. List allows duplicate members.

In [1]:
my_list = [1, 2, 3] #(mutable)

In [2]:
my_list

[1, 2, 3]

In [3]:
my_list

[1, 2, 3]

In [4]:
type(my_list)

list

In [5]:
# list with mixed datatypes
my_list = [2, "Mitch", 5.0]
my_list

[2, 'Mitch', 5.0]

In [6]:
# nested list
my_list = ["Mitch", [3, 6, 7]]
my_list

['Mitch', [3, 6, 7]]

In [7]:
# Access specific elements in the list [Indexing]
my_list = [2, "Mitch", 5]
print(my_list[1])

Mitch

In [8]:
my_list

[2, 'Mitch', 5]

# practice # printing hello from a list

In [3]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [4]:
print(lst[3][1][2])

['hello']

In [11]:
# Nested indexing
my_list = ["Mitch", [3, 6, 7], ["yellow", 5, 6]]
print(my_list[0][2])

t

In [12]:
print(my_list[1][1])

6

In [13]:
print(my_list[2])

['yellow', 5, 6]

In [14]:
# Negative Indexing
my_list = [2, "Mitch", 5]
print(my_list[-2])

Mitch

In [15]:
# List Slicing 
my_list = [2, "Mitch", 5, 7, 8, 10, 15]

# elements 2nd to 4th
print(my_list[1:4])   #0 1 2 3 4

['Mitch', 5, 7]

In [16]:
#0 1 2 3
# elements 4th to end
print(my_list[3:])   # 0 1 2 3 4 5 .....

[7, 8, 10, 15]

In [17]:
# elements start to end
print(my_list[:])

[2, 'Mitch', 5, 7, 8, 10, 15]

In [18]:
len(my_list)

7

In [19]:
my_list

[2, 'Mitch', 5, 7, 8, 10, 15]

In [20]:
list(reversed(my_list))

[15, 10, 8, 7, 5, 'Mitch', 2]

In [21]:
#list(reversed(my_list))

In [22]:
my_list[::-1] # [:,:,]  -- spacing

[15, 10, 8, 7, 5, 'Mitch', 2]

In [23]:
my_list

[2, 'Mitch', 5, 7, 8, 10, 15]

In [24]:
my_list[1:7:+2]  # Mitch, 15  ### Mitch,5,7,8,10,15  {6}

['Mitch', 7, 10]

In [25]:
my_list[::-1]

[15, 10, 8, 7, 5, 'Mitch', 2]

In [26]:
my_list='Mitch'

In [27]:
my_list[::-1]

'hctiM'