In [2]:
### comparing means between two sample : T , Z (we domnt know abot std dev, we know about std dev)

In [3]:
#T: 1 sample, 2 sample #(comparing )

In [4]:
#P-value:  testing the statistical significance (there is a definite significance)

In [5]:
ages=[10,30,20,30,20,35,35,67,87,45,34,16,55,17,16,65,19,10,43,23,67,30,34,72,81,35,67,87,45,34,16]

In [6]:
len(ages)

31

In [8]:
sum=0
for i in ages:
    sum+=i
avg=sum/len(ages)
print("avg",avg)

avg 40.16129032258065

In [5]:
sum=0
for i in ages:
    sum+=i
print(sum)
print("The mean is :",sum/len(ages))

1245
The mean is : 40.16129032258065

In [9]:
import numpy as np ### numpy, scipy (scientific python ) scipy.stats
np.mean(ages)  ### mean

40.16129032258065

In [13]:
sample_size=10
sample_age=np.random.choice(ages,sample_size)
sample_age

array([67, 34, 34, 34, 16, 19, 35, 23, 35, 45])

In [14]:
from scipy.stats import ttest_1samp

In [29]:
ttest,p_value=ttest_1samp(sample_age,80)  ##### null hypothesis ; ### alternative hypothesis

In [ ]:
#null: "it will rain today" alternate: "It will not rain today"   p-value: < 0.05

In [30]:
print(p_value)  #< 0.05 () - rejecting our null hypo' - 'we don't reject the null hypothesis'

0.0017154977467770543

In [8]:
if p_value<0.05:  ### less than 5%
    print('we are rejecting our null hypo')
else:
    print('we are accepting null hypo')

we are accepting null hypo

### We ananlyze two sample means

#### We reduce the entire sample into single value, compute t-value then.

#### 2 sample t_test

In [24]:
import numpy as np
import scipy.stats as stats

In [25]:
classa_height=stats.poisson.rvs(mu=30,size=60) #random variate
classb_height=stats.poisson.rvs(mu=33,size=60)

In [26]:
classa_height

array([20, 33, 28, 22, 29, 27, 33, 23, 33, 29, 36, 42, 28, 26, 24, 34, 28,
       35, 26, 27, 33, 34, 30, 30, 36, 29, 27, 31, 28, 36, 39, 33, 30, 32,
       24, 31, 36, 25, 26, 30, 27, 30, 28, 18, 28, 31, 27, 29, 21, 37, 24,
       36, 33, 21, 26, 32, 23, 29, 29, 34])

In [27]:
np.mean(classa_height)

29.433333333333334

In [28]:
np.mean(classb_height)

33.016666666666666

In [29]:
from scipy.stats import ttest_ind ###t_test (independent) is used for 2 sampled t test

In [31]:
t_test,p_value=ttest_ind(a=classa_height,b=classb_height,equal_var=False) ## (equal_var=False ) : assume as normal dist
p_value

0.0007040183666081909

In [32]:
if p_value<0.05:
    print('we are rejecting our null hypo')
else:
    print('we are accepting null hypo')

we are rejecting our null hypo

In [ ]:
# we are not rejecting the null hypothesis

#### Paired T_test

In [36]:
import pandas as pd

In [37]:
df=pd.read_csv('../Datasets/Blood_pressure.csv')
df

     Unnamed: 0  patient     sex agegrp  bp_before  bp_after
0             0        1    Male  30-45        143       153
1             1        2    Male  30-45        163       170
2             2        3    Male  30-45        153       168
3             3        4    Male  30-45        153       142
4             4        5    Male  30-45        146       141
..          ...      ...     ...    ...        ...       ...
115         115      116  Female    60+        152       152
116         116      117  Female    60+        161       152
117         117      118  Female    60+        165       174
118         118      119  Female    60+        149       151
119         119      120  Female    60+        185       163

[120 rows x 6 columns]

In [38]:
df[['bp_before','bp_after']].describe()

        bp_before    bp_after
count  120.000000  120.000000
mean   156.450000  151.358333
std     11.389845   14.177622
min    138.000000  125.000000
25%    147.000000  140.750000
50%    154.500000  149.500000
75%    164.000000  161.000000
max    185.000000  185.000000

##### H0->u=0
#### H1-> u=/0

In [39]:
from scipy.stats import ttest_rel #()paired_ttest; )
## 1samp: , ind: , rel:

In [40]:
t,p_value=ttest_rel(df['bp_before'],df['bp_after'])
p_value

0.0011297914644840823

In [41]:
if p_value<0.05:
    print('we are rejecting our null hypo')
else:
    print('we are accepting null hypo')

we are rejecting our null hypo

#### 156+-11.45
#### 151.358333+-14.17